from arrest import Resource
from {{ schema }} import {{ schema_imports|join(', ') }}

{% for resource in resource_list %}

{{ resource.name }} = Resource(
    name="{{ resource.name }}",
    route="{{ resource.route }}",
    handlers=[{% for handler in resource.handlers %}
                {{ handler|tojson }}
            {% endfor %}
    ]
)

{% endfor %}