from arrest import Resource, Service

from .resources import {{ resource_imports|join(', ') }}

{% for service in services %}

{{ service.service_id|lower }} = Service(
    name="{{ service.name|lower }}",
    url="{{ service.url }}",
    resources=[{{ service.resources|join(', ') }}]
)

{% endfor %}
